html,
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

footer {
  background: #f8f9fa;
  font-family: serif;
  font-size: smaller;
  font-style: oblique;
  padding: 1rem;
  text-align: center;
}